<div class="home">
  <h1>hey girl hey</h1>

  <p><a href="/add_task">add a new task</a><p>

  <div class="list_header"><span>Task</span><span>Description</span><span>Completed Date</span></div>
  <form class="task_list">
  	<% @all_tasks.each do |task| %>
			<label><input type="checkbox" name="finished_tasks[]" value="<%= task[1] %>"><span class="task-1"><%= task[1] %></span> <span class="task-2"><%= task[2] %></span> <span class="task-3"><%= task[3] %></span></label>
  	<% end %>
    <input type="submit" value="Completed"> 
  </form>

  <pre>
  	<%= params %>
  </pre>
</div>